.main{
    width: 60%;
    height:700px;
    border: 1px solid black;
    background-color: rgb(240, 173, 5);
}
.image{
    width:20%;
    height: 20%;
    margin-left: 130px;
    margin-top: 90px;
}
.image:hover{
    transform:scale(2);
    transition: 1s;
}
.image-2{
    width: 700px;;
    height: 600px;
    margin-top: -150px;
    margin-left: 120px;
}
.one{
    margin-top: -75%;
    margin-left: 50%;
    
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
    
      
}
.two{
    margin-left: 50%;
    margin-top: -8%;
        font-family: "Lugrasimo", cursive;
        font-weight: 400;
        font-style: normal;
      
    font: size 90px;
}
h1{
    font-size: 80px;
}